body {
    background-color: #B2EBFD;
}
.row {
    margin-top: 5%;
}

.col-todo {
    background: #FDFDFF;
    border: 10px solid #3F23EC;
    box-shadow: 10px 10px 10px rgba(5, 4, 80, 0.25);
    border-radius: 13px;
    margin-bottom: 5%;
}
.col-todo h3 {
    text-align: center;
    color: #0A06BD;
    font-size: 45px;

}
.todo {
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.col-todo span {
    line-height: 38px;
    flex-grow: 4;
    padding: 0 10px;
    max-width: 89%;
}
.input-group-text {
    background: none;
    border: none;
}
.col-todo .btn {
    width: 38px;
    height: 38px;

}
.col-addnew {
    background: #FDFDFF;
    border: 10px solid #3F23EC;
    box-shadow: 10px 10px 10px rgba(5, 4, 80, 0.25);
    border-radius: 13px;
    padding: 10px 10px;
}
.col-addnew h3 {
    color: #0A06BD;
}
.btn-outline-secondary {
    color: #0A06BD;
}
.btn-outline-secondary:hover {
    background-color: #0A06BD;
    border-color: #0A06BD;
}